{% extends '@app/views/base.html' %}

{% block main %}
  <div class="admin-content" style="padding-bottom: 26.5rem">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">关键字过滤</strong>
      </div>
    </div>

    <div class="am-g">
      <div class="am-u-sm-12 am-u-md-9">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <a class="am-btn am-btn-default" href="{{ url(['/admin/group/add-keyword']) }}">
              <i class="am-icon-plus"></i> 新增
            </a>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
            <tr>
              <th>ID</th>
              <th>类型</th>
              <th class="table-title am-hide-sm-only">关键字内容</th>
              <th class="table-set">操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in list %}
              <tr>
                <td>{{ item.id }}</td>
                <td class="am-hide-sm-only">{% if item.type == '2' %}昵称{% else %}话题和回复{% endif %}</td>
                <td class="am-hide-sm-only">{{ item.content }}</td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <a href="{{ url('/admin/group/edit-keyword', {'id':item.id}) }}" class="am-btn am-btn-default am-btn-xs am-text-secondary">
                        <span class="am-icon-pencil-square-o"></span> 编辑
                      </a>
                      <a href="javascript:void(0);"  data-id="{{ item.id }}"
                         class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-delete">
                        <span class="am-icon-trash-o"></span>删除
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </form>
      </div>

    </div>
  </div>

  <!-- 删除提示弹窗-->
  <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
    <div class="am-modal-dialog">
      <div class="am-modal-hd">警告</div>
      <div class="am-modal-bd">
        你，确定要删除这条记录？
      </div>
      <div class="am-modal-footer">
        <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      </div>
    </div>
  </div>

  <a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
    <span class="am-icon-btn am-icon-th-list"></span>
  </a>
{% endblock %}

{% block script %}
  <script>
    $(function () {
      $('.btn-delete').on('click', function () {
        $('#my-confirm').modal({
          relatedTarget: this,
          onConfirm: function (options) {
            var $id = $(this.relatedTarget).data('id');
            $.post('{{ url(['/admin/group/del-keyword']) }}', {id: $id}, function (data) {
              if (data == 1) {
                $('#errmsg').text('删除失败');
                $('#my-alert').modal();
              } else {
                window.location.reload();
              }
            });
          },
          // closeOnConfirm: false,
          onCancel: function () {
            return;
          }
        });
      });

    });
  </script>
{% endblock %}