{% extends '@app/views/base.html' %}

{% block main %}
    <div class="search">
        <span>批次
            <input class="easyui-textbox" type="text" name="batchId" id="batchId">
        </span>
        <span>状态
            <select class="easyui-combobox" id="status" name="status" data-options="required:true, panelHeight:'auto'">
                <option value="all">所有</option>
                <option value="1">已提交</option>
                <option value="2">审核通过</option>
                <option value="3">审核未通过</option>
            </select>
        </span>
        <span>面值
            <select class="easyui-combobox" id="status" name="status" data-options="required:true, panelHeight:'auto'">
                <option value="all">所有</option>
                <option value="30">30元</option>
                <option value="50">50元</option>
                <option value="100">100元</option>
            </select>
        </span>
        <span>有效期
            <input class="easyui-datetimebox" style="width:200px" name="startTime" id="startTime"> 到
            <input class="easyui-datetimebox" style="width:200px" name="endTime" id="endTime">
        </span>


        <a href="javascript:void(0);" onclick="reloadgrid();" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
    </div>

    <div id="tb-user" style="height:auto">
        <div>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="add()">新增</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true" onclick="view()">查看</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true" onclick="cardsExport()">导出</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true" onclick="exportHistory()">导出历史</a>
        </div>
    </div>

    <table id="listdata"  class="easyui-datagrid" title="充值卡批次列表" data-options="toolbar:'#tb-user',singleSelect:true,pagination:true,method:'get',url:'{{  url('/card/index')}}',mode:'local',pageSize:20">
        <thead>
        <tr>
            <th data-options="field:'id', width:50, align:'center'">批次</th>
            <th data-options="field:'numInfo', width:200, align:'center'" formatter="formatNumInfo">已使用/总张数</th>
            <th data-options="field:'numDetail', width:100, align:'center'" formatter="formatNumDetail">明细</th>
            <th data-options="field:'statusText', width:200, align:'center'" >状态</th>
            <th data-options="field:'validityDate', width:100, align:'center'" >有效期</th>
            <th data-options="field:'createdDate', width:100, align:'center'" >创建日期</th>
            <th data-options="field:'apply_user', width:180, align:'center'" >申请人</th>
            <th data-options="field:'check_user', width:180, align:'center'" >审核人</th>
        </tr>
        </thead>
    </table>

{% endblock %}

{% block js %}
<script type="text/javascript">
    function add() {

    }

    function view() {

    }

    function cardsExport() {

    }

    function exportHistory() {

    }


</script>
{% endblock %}