{% extends '@app/views/base.html' %}

{% block css %}
{{ html.beginForm('', 'post', {'class':'am-form am-form-horizontal', 'id':'addForm','enctype':"multipart/form-data"}) | raw }}
<table cellpadding="5">
    <tr>
        <td>类型</td>
        <td>
            <select class="easyui-combobox" name="key" data-options="panelHeight:'auto',disabled:true" id="key">
                <option value="richdayconfig">日榜</option>
                <!--<option value="richweekconfig">周榜</option>-->
                <option value="richmonthconfig">月榜</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>添加奖项</td>
        <td id="content">
            <!--<input type="button" value="添加奖励" onclick="$('#dlg-add-reward').dialog('open')">-->
            {% for item in rewards %}
            <p class="reward-name" data-rank="{{ item.rank }}" data-name="{{ item.name }}" data-type="{{ item.type }}" id="{{  item.rank }}" data-picture="{{ item.picture }}"><span>第{{ item.rank }}名  {{ item.name }}</span> <a href="javascript:void(0);" onclick="editReward('{{ item.rank }}', '{{ item.type }}', '{{ item.name }}', '{{ item.picture }}')">修改</a><!-- <a href="javascript:void(0);" onclick="delReward(this)">删除</a>--></p>
            {% endfor %}
        </td>
    </tr>
    <tr>
        <td></td>
        <td><a class="easyui-linkbutton" iconCls="icon-ok" onclick="save()">确定</a></td>
    </tr>
</table>
{{ html.endForm() | raw }}

<div id="dlg-edit" title="修改奖励" class="easyui-dialog" style="width:350px;height:auto;padding:10px 20px;" modal="true" closed="true">
{{ html.beginForm('', 'post', {'class':'am-form am-form-horizontal', 'id':'editRewardForm','enctype':"multipart/form-data"}) | raw }}
<table cellpadding="5">
    <tr>
        <td>排名</td>
        <td>
            <select class="easyui-combobox" name="rank" data-options="panelHeight:'auto',disabled:true" id="rank">
                <option value="1">第一名</option>
                <option value="2">第二名</option>
                <option value="3">第三名</option>
                <option value="4">第四名</option>
                <option value="5">第五名</option>
                <option value="6">第六名</option>
                <option value="7">第七名</option>
                <option value="8">第八名</option>
                <option value="9">第九名</option>
                <option value="10">第十名</option>
                <option value="11-50">第十一名到第五十名</option>
                <option value="51-100">第五十一名到第一百名</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>类型</td>
        <td>
            <select class="easyui-combobox" name="type" data-options="panelHeight:'auto'" id="type">
                <option value="1">实物</option>
                <option value="2">现金</option>
                <option value="3">返现</option>
                <option value="4">红包</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>奖品</td>
        <td><input class="easyui-textbox" name="reward" class="reward" id="reward"/></td>
    </tr>
    <tr>
        <td>奖品图片</td>
        <td><input class="easyui-filebox" name="file" class="picture" id="picture"/></td>
    </tr>
    <tr>
        <td></td>
        <td><a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitRewardForm()" style="width: 80px;">确定</a></td>
    </tr>
</table>
    {{ html.endForm() | raw }}
</div>
{% endblock %}

{% block js %}
<script>
    $('#picture').filebox({
        onChange: function(n, o){
            if(n != '' && n != o){
                $('#editRewardForm').form({
                    url: '{{ url("rich/upload") }}',
                    onSubmit: function(param){
                    },
                    success: function (data) {
                        $('#picture').attr('data-id', data);
                    }
                });
                $('#editRewardForm').submit();
            }
        }
    })

    function save()
    {
        $('#addForm').form({
            url: '{{ url("rich/edit-reward") }}' + '?type=' + '{{ model.key }}',
            onSubmit: function(param){
                var isValid = $(this).form('validate');
                if (!isValid){
                    $.messager.progress('close');	// 如果表单是无效的则隐藏进度条
                }
                var json = {};
                $(".reward-name").each(function(k){
                    var rank = $(this).attr('data-rank');
                    var type = $(this).attr('data-type');
                    var name = $(this).attr('data-name');
                    var picture = $(this).attr('data-picture');
                    json[k] = {'rank':rank, 'type':type, 'name':name, 'picture':picture};
                });
                var jsonArr = JSON.stringify(json);
                //console.log(jsonArr);
                param.content = jsonArr;
                return isValid;	// 返回false终止表单提交
            },
            success: function (data) {
                data = eval('(' + data + ')');
                if (data.error == 0) {
                    $.messager.alert('成功', data.message);
                    setTimeout(function(){parent.location.reload();}, 2000);
                } else {
                    $.messager.alert('失败', data.message);
                    return false;
                }
            }
        });
        $('#addForm').submit();
    }

    $(function(){
        $('#key').combobox('setValue', '{{ model.key }}')
    })

    function editReward(rank, type, name, picture){
        $('#dlg-edit').dialog('open');
        $('#rank').combobox('setValue', rank);
        $('#type').combobox('setValue', type);
        $('#reward').textbox('setValue', name);
        $('#picture').filebox('setValue', picture)
        $('#picture').attr('data-id', picture);
    }

    function submitRewardForm()
    {
        var type = $('#type').combobox('getValue');
        var name = $('#reward').textbox('getValue');
        var rank = $('#rank').combobox('getValue');
        var picture = $('#picture').attr('data-id');

        //var picture = $('#picture').filebox('getValue');
        if(type != 1){
            if(parseInt(name) != name){
                $.messager.alert('错误','奖品必须为整数');
                return false;
            }
        }
        $('#'+rank).attr('data-name', name);
        $('#'+rank).attr('data-type', type);
        $('#'+rank).attr('data-picture', picture);

        /*$('#content').append('<p class="goods-name" data-rank="'+rank+'" data-name="'+name+'" data-type="'+type+'">第'+rank+'名  <span>'+name+'</span>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="del(this)">删除</a></p>');*/
        $('#dlg-edit').dialog('close');
    }
</script>
{% endblock %}