{% extends '@app/views/base.html' %}

{% block css %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.params.skinUrl }}/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/css/amazeui.min.css"/>
    <link rel="stylesheet" href="{{ app.params.skinUrl }}/css/admin.css">
{% endblock %}

{% block main %}
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">订单详情</strong>
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">订单号：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{{ detail.id }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">提交的金额：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{{ detail.post_money }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-2">实际充值金额：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{{ detail.money }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">会员ID：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{{ detail.user_id.phone }}<br />{{ detail.user_id.email }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">类型：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{% if(detail.status == 0) %}消费{% else %}充值{% endif %}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">支付方式：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{% if(detail.payment == 1) %}储蓄卡充值{% elseif(detail.payment == 2) %}信用卡充值{% elseif(detail.payment == 3) %}充值平台充值{% elseif(detail.payment == 4) %}
                            佣金充值{% elseif(detail.payment == 5) %}充值卡充值{% endif %}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">来源：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{{ detail.source.name }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">状态：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{% if(detail.status == 1) %}支付成功{% elseif(detail.status == 0) %}支付失败{% endif %}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>

                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-1">支付时间：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-2">{{ detail.pay_time }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
