{% extends '@app/views/base.html' %}

{% block main %}
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">发送站内信</strong>
            </div>
        </div>

        <hr>

        <div class="am-g">
            <div class="am-u-sm-12">
                <input type="hidden" id="userids" value="{{ userids }}">
                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-2">用户ID：</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-3">{{ userids }}</div>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>
                <div class="am-g doc-am-g">
                    <div class="am-u-sm-6 am-u-md-4 am-u-lg-2">内容：</div>
                    <textarea id="content"></textarea>
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>
                <div class="am-g doc-am-g">
                    <input type="submit" value="发送"  id="doc-confirm-toggle">
                    <input type="button" value="关闭" id="closeBn">
                    <div class="am-u-sm-6 am-u-md-8 am-u-lg-8"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"></div>
            <div class="am-modal-bd">
                你确定发送这条站内信吗？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function () {
        $('#closeBn').on('click', function(){
            parent.location.reload();
        })

        $('#doc-confirm-toggle').on('click', function () {
            $('#my-confirm').modal({
                relatedTarget: this,
                onConfirm: function (options) {
                    var params = {
                        userids: "{{ userids }}",
                        content: $('#content').val()
                    };
                    $.ajax({
                        url: apiBaseUrl + '/user/send-message',
                        type: "GET",
                        dataType: 'jsonp',
                        jsonp: 'callback',
                        data: params,
                        success: function (json) {
                            if (json.code == 100) {
                                alert("发送成功");
                                parent.location.reload();
                            }
                        }
                    });
                },
                // closeOnConfirm: false,
                onCancel: function () {
                    return;
                }
            });
        });
    });
</script>
{% endblock %}
