{% extends '@app/views/base.html' %}

{% block main %}
<div>
    <form id="edit-virtual" method="post">
        <table cellpadding="5">
            <tr>
                <td>站点</td>
                <td>
                    <select  name="from">
                        <option value="1" {% if model.from=="1" %}selected{% endif %}>伙购网</option>
                        <option value="2" {% if model.from=="2" %}selected{% endif %}>滴滴夺宝</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>名称:</td>
                <td><input class="easyui-textbox" type="text" name="content[virtual_name]" value="{{ model.content.virtual_name }}" data-options="required:true"></td>
            </tr>
            <tr>
                <td>图标:</td>
                <td><input class="easyui-textbox" type="text" name="content[virtual_icon]" value="{{ model.content.virtual_icon }}" ></td>
            </tr>
            <tr>
                <td>类型:</td>
                <td><input class="easyui-textbox" type="text" name="content[virtual_type]" value="{{ model.content.virtual_type }}"  data-options="required:true"></td>
            </tr>
            <tr>
                <td>系统:</td>
                <td><input type="radio" name="system" value="android"  {% if(model.system == 'android') %}checked{% endif %}>Android<input type="radio" name="system" value="ios"  {% if(model.system == 'ios') %}checked{% endif %}>Ios</td>
            </tr>
            <tr>
                <td>是否启用:</td>
                <td><input type="checkbox" name="status" value="1" {% if(model.status == '1') %}checked{% endif %}></td>
            </tr>
        </table>
    </form>
    <div style="text-align:center;padding:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">提交</a>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    function submitForm()
    {
        $('#edit-virtual').form({
            url: '/app/edit?id='+"{{ model.id }}"+'&type=vitual',
            onSubmit: function(param){
                var isValid = $(this).form('validate');
                if (!isValid){
                    $.messager.progress('close');	// 如果表单是无效的则隐藏进度条
                }
                return isValid;	// 返回false终止表单提交
            },
            success: function (data) {
                data = eval('(' + data + ')');
                if (data.error == 0) {
                    $.messager.alert('成功', data.message);
                    setTimeout(function(){parent.location.reload()}, 2000);
                } else {
                    $.messager.alert('失败', data.message);
                    return false;
                }
            }
        });
        $('#edit-virtual').submit();
    }
</script>
{% endblock %}