<link rel="stylesheet" type="text/css" href="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/themes/icon.css">

<script src="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/jquery.easyui.min.js" type="text/javascript"></script>
<script src="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
<script src="{{ app.params.skinUrl }}/js/order-detail.js" type="text/javascript"></script>

<div title="Basic Window"  style="padding:5px;height:auto;width:100%" class="box" id="deliver">
    {% if(model.status == 2) %}
    {{ html.beginForm('', 'post', {'class':'am-form am-form-horizontal', 'id':'deliver-form'}) | raw }}
    <table cellpadding="10" style="font-size: 13px;">
        <tr>
            <td>发货方式</td>
            <td>
                <select class="easyui-combobox" name="Deliver[send]" editable="false" style="width:100px;" data-options="url: '{{ url('/win/product-deliver', {'id':model.product_id}) }}', valueField: 'id', textField: 'name',required:true,panelHeight:'auto'"></select>
            </td>
        </tr>
        <tr>
            <td>选择平台</td>
            <td>
                <select name="Deliver[platform]" class="easyui-combobox" data-options="panelHeight:'auto'" id="platform">
                    <option value="手动" selected="selected">手动</option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="easyui-linkbutton">
            </td>
        </tr>
    </table>
    {{ html.endForm() | raw }}
    {% endif %}
</div>
<script>
        var form = 'deliver-form';
        id = "{{ model.id }}";
        var exId = "{{ model.is_exchange }}";
        if(exId != 0){
            var url = '/win/deliver?id='+id+'&exchange='+exId;
        } else{
            var url = '/win/deliver?id='+id;
        }
        $('#' + form).form({
            url: url,
            success: function (data) {
                var data = eval('('+data+')'); 
                if (data.error == 0) {
                    $.messager.alert('成功', data.message);
                    setTimeout(function(){location.reload();parent.location.reload()}, 2000);
                } else {
                    $.messager.alert('失败', data.message, 'error');
                }
            }
        });
        $('#' + form).submit();
</script>
