{% extends '@app/views/base.html' %}

{% block main %}
    <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品类型</strong></div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-9">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <a class="am-btn am-btn-default" href="{{ url(['/admin/product-type/add']) }}">
                            <i class="am-icon-plus"></i> 新增
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-sm-12">
                <form class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th>类型名称</th>
                            <th>类型别名</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for type in types %}
                            <tr data-id="{{ type.id }}">
                                <td><a href="#">{{ type.name }}</a></td>
                                <td>{{ type.alias }}</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary btn-edit" type="button">
                                                <span class="am-icon-pencil-square-o"></span> 编辑
                                            </button>
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only btn-delete" type="button">
                                                <span class="am-icon-trash-o"></span> 删除
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="am-cf">
                        <p class="am-fl">共 {{ pagination.totalCount }} 条记录</p>

                        <div class="am-fr">
                            {{ use('/app/widgets/BackendLinkPager') }}
                            {{ backend_link_pager_widget({'pagination': pagination}) }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- content end -->

    <div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
        <div class="am-modal-dialog">
            <div class="am-modal-hd">警告</div>
            <div class="am-modal-bd">
                你，确定要删除这条记录？
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel>取消</span>
                <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function () {
            $('.btn-edit').on('click', function () {
                var id = $(this).closest('tr').data('id');
                window.location.href = "{{ url(['admin/product-type/edit']) }}?id=" + id;
            });

            $('.btn-delete').on('click', function () {
                $('#my-confirm').modal({
                    relatedTarget: this,
                    onConfirm: function (options) {
                        var $id = $(this.relatedTarget).closest('tr').data('id');
                        $.post('{{ url(['admin/product-type/del']) }}', {id: $id}, function (data) {
                            if (data.error) {
                                $('#errmsg').text(data.message);
                                $('#my-alert').modal();
                            } else {
                                window.location.reload();
                            }
                        });
                    }
                });
            });
        });
    </script>
{% endblock %}