{% extends '@app/views/base.html' %}

{% block main %}

<div style="padding:5px;height:auto">
    <span>开始时间<input type="text" name="startTime" id="startTime"></span>
    <span>结束时间<input type="text" name="endTime" id="endTime"></span>
    <span>订单号或商品名<input type="text" name="content" id="content"></span>
    <span>用户<input type="text" name="name" id="name"></span>
    <a href="javascript:void(0);" onclick="reloadgrid();" class="easyui-linkbutton" iconCls="icon-search">搜索</a>
    <a href="javascript:void(0);" class="easyui-linkbutton" onclick="dataexcel();">导出</a>
</div>

<div style="width:auto;height:auto" class="rem">
    <a href="javascript:void(0)" class="easyui-linkbutton get-status" data-id="all">全部({{ count.deliver }})</a>
    <a href="javascript:void(0)" class="easyui-linkbutton get-status" data-id="2">备货({{ count.three }}) </a>
    <a href="javascript:void(0)" class="easyui-linkbutton get-status" data-id="3">发货({{ count.four }}) </a>
</div>
<table id="listdata"  class="easyui-datagrid" title="发货列表" data-options="toolbar:'#tb-user',rownumbers:true,singleSelect:true,pagination:true,method:'get',url:'{{  url('deliver/index',{'status':status})}}',pageSize:20">
    <thead>
    <tr>
        <th data-options="field:'id', width:50, align:'center'">订单号</th>
        <th data-options="field:'name', width:300, align:'center'">商品名称</th>
        <th data-options="field:'cat_id', width:100, align:'center'">分类</th>
        <th data-options="field:'phone', width:100, align:'center'">会员手机</th>
        <th data-options="field:'email', width:150, align:'center'">会员邮箱</th>
        <th data-options="field:'period_number', width:50, align:'center'">期数</th>
        <th data-options="field:'ship_name', width:100, align:'center'">收货人</th>
        <th data-options="field:'ship_mobile', width:100, align:'center'">联系方式</th>
        <th data-options="field:'status', width:150, align:'center'">状态</th>
        <th data-options="field:'create_time', width:150, align:'center'">填写地址时间</th>
    </tr>
    </thead>
</table>

<div id="tb-user" style="height:auto">
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true" onclick="edit()">查看</a>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ app.params.skinUrl }}/js/laydate/laydate.js"></script>
<script>
    function edit(){
        var selRow = $('#listdata').datagrid('getSelected');
        if (!selRow) {
            $.messager.alert('错误','请选择一个');
            return false;
        }

        window.parent.addTab('查看订单', "{{ url('deliver/view') }}" + '?id=' + selRow.id);
    }

    function dataexcel(){
        var startTime = $('#startTime').val();
        var endTime = $('#endTime').val();
        var content = $('#content').val();
        var name = $('#name').val();
        var status = $('.high').attr('data-id');
        if(status == undefined) status = 'all';
        window.location.href = '/deliver/index?excel=deliver&startTime='+startTime+'&endTime='+startTime+'&content='+content+'&name='+name+'&status='+status;
    }

    function reloadgrid(){
        var queryParams = $('#listdata').datagrid('options').queryParams;
        queryParams.startTime = $('#startTime').val();
        queryParams.endTime = $('#endTime').val();
        queryParams.content = $('#content').val();
        queryParams.name = $('#name').val();
        $('#listdata').datagrid('options').queryParams = queryParams;
        $("#listdata").datagrid('reload');
    }

    $(".get-status").click(function(){
        var status = $(this).attr('data-id');
        var queryParams = $('#listdata').datagrid('options').queryParams;
        queryParams.status = status;
        $('#listdata').datagrid('options').queryParams = queryParams;
        $("#listdata").datagrid('reload');
        $(this).addClass('high');
    })

    function getstatus(data){
        var queryParams = $('#listdata').datagrid('options').queryParams;
        queryParams.status = data;
        $('#listdata').datagrid('options').queryParams = queryParams;
        $("#listdata").datagrid('reload');
        $(this).attr('data-id', data);
    }

    function formatTime(val, row){
        return new Date(parseInt(val) * 1000).toLocaleString().substr(0,17);
    }

    $(function(){
        laydate({
            elem: '#startTime',
            format: 'YYYY/MM/DD hh:mm:ss',
            //min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        });

        laydate({
            elem: '#endTime',
            format: 'YYYY/MM/DD hh:mm:ss',
            //min: laydate.now(), //设定最小日期为当前日期
            max: '2099-06-16 23:59:59', //最大日期
            istime: true,
            istoday: false,
            choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        });
    })

</script>
{% endblock %}

