{% extends '@app/views/base.html' %}

{% block main %}
<div style="padding:10px 60px 20px 60px">
    {{ html.beginForm('', 'post', {'id':'supplier_form'}) | raw }}
    <table cellpadding="5" id="list">
        <tr><td>采购清单<br /></td></tr>
    </table>
    {{ html.endForm() | raw }}
    <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="addProduct()" style="margin-bottom: 20px;">添加商品</a><span style="float: right">累计金额：<b id="total">0</b></span><br />
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width: 80px;">确定</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()" style="width: 80px;">取消</a>
</div>

<div id="dlg-show-product" class="easyui-window" title="商品列表" style="width:700px;height:100px;padding:10px;overflow:hidden;" data-options="
            iconCls:'icon-save',
            closed:true,
            modal:true,
            onResize:function(){
                $(this).window('hcenter');
            }">
    <span>供应商列表<select class="easyui-combobox" id="supplier" editable="true" style="width:100px;"></select></span>
    <i class="product" style="font-style: normal;">
        <span>商品列表<select class="easyui-combobox" id="product" editable="true" style="width:400px;"></select></span>
    </i>
</div>

{% endblock %}

{% block script %}
<script>
    function submitForm() {
        $('#supplier_form').form({
            url: "{{ url('purchase/add') }}",
            onSubmit:function() {
                if ($('#total').html() == 0) {
                    $.messager.alert('失败', '请添加商品');
                    return false;
                }
                return $(this).form('enableValidation').form('validate');
            },
            success: function (data) {
                var data = eval('('+data+')');
                if (data.error == 0) {
                    $.messager.alert('成功', data.message);
                    parent.location.reload();
                } else {
                    $.messager.alert('失败', data.message, 'error');
                }
            }
        });
        $('#supplier_form').submit();
    }

    function addProduct() {
        $('.product').hide();
        $('#supplier').combobox({
            url:"{{ url('supplier/list') }}",
            method:'get',
            valueField: 'id',
            textField: 'name',
            onSelect: function(supplier) {
                $('#product').combobox({
                    url:"{{ url('supplier/product-list') }}" + '?id=' + supplier.id,
                    method:'get',
                    valueField: 'id',
                    textField: 'name',
                    onSelect: function(product) {
                        if ($('input[name="Purchase['+supplier.id+']['+product.id+'][num]"]').length > 0) {
                            $.messager.alert('失败', '商品已添加', 'error');
                            return false;
                        }
                        $.post("{{ url('supplier/product-price') }}", {supplier_id: supplier.id, product_id: product.id}, function(data) {
                            $('#dlg-show-product').window('close');
                            strHtml = '<tr><td colspan="2">'+product.name+'</td></tr>';
                            strHtml += '<tr><td>供应商</td><td>'+supplier.name+'</td></tr>';
                            strHtml += '<tr><td>采购价</td><td>'+data.price+'</td></tr>';
                            strHtml += '<tr><td>数量</td><td><input class="easyui-textbox product_num" type="text" name="Purchase['+supplier.id+']['+product.id+'][num]" data-options="required:true" value="1" /></td></tr>';
                            strHtml += '<tr><td>是否优惠</td><td><input name="Purchase['+supplier.id+']['+product.id+'][privilege]" type="radio" class="easyui-validatebox" checked value="0">无优惠<input name="Purchase['+supplier.id+']['+product.id+'][privilege]" type="radio" class="easyui-validatebox" value="1">有优惠<i style="font-style: normal; display: none"><input class="easyui-textbox privilege" type="text" name="Purchase['+supplier.id+']['+product.id+'][privilege_price]" value="0" style="width: 100px;" /></i></td></tr>';
                            strHtml += '<tr><td>合计</td><td class="price">'+data.price+'</td></tr><tr><td colspan="2"><hr /></td></tr>';
                            $.parser.parse($(strHtml).appendTo('#list'));
                            $('input[type=radio]').on('click', function() {
                                if ($(this).val() == 1) {
                                    $(this).siblings('i').show();
                                } else {
                                    $(this).siblings('i').hide();
                                    $(this).siblings('i').find('.privilege').textbox('setValue', 0);
                                }
                            })
                            $('input[type=text]').textbox({
                                onChange: function(newValue, oldValue) {
                                    if ($(this).hasClass('product_num')) {
                                        obj = $(this).parent().parent();
                                        obj_price = $(obj).next().next().find('.price');
                                        obj_privilege = $(obj).next().find('.privilege');
                                        oldPrice = parseFloat($(obj_price).html());
                                        $(obj_price).html((data.price - $(obj_privilege).textbox('getValue')) * newValue);
                                        console.log(parseFloat($('#total').html()));
                                        console.log(parseFloat(oldPrice));
                                        console.log(parseFloat($(obj_price).html()));
                                        $('#total').html(parseFloat($('#total').html()) - parseFloat(oldPrice) + parseFloat($(obj_price).html()))
                                    }
                                    if ($(this).hasClass('privilege')) {
                                        obj = $(this).parent().parent().parent();
                                        obj_productnum = $(obj).prev().find('.product_num');
                                        obj_price = $(obj).next().find('.price');
                                        oldPrice = parseFloat($(obj_price).html());
                                        num = $(obj_productnum).textbox('getValue');
                                        $(obj_price).html((data.price - newValue) * num);
                                        $('#total').html(parseFloat($('#total').html()) - parseFloat(oldPrice) + parseFloat($(obj_price).html()))
                                    }
                                }
                            });
                            $('#total').html(parseFloat($('#total').html()) + data.price);
                        });
                    }
                });
                $('.product').show();
            }
        });
        $('#dlg-show-product').window('open');
    }
</script>
{% endblock %}