{% extends '@app/views/base.html' %}

{% block main %}
<table id="listdata"  class="easyui-datagrid" title="采购记录" data-options="toolbar:'#tb-user',singleSelect:true,pagination:true,method:'get',url:'{{  url('purchase/order')}}',mode:'local',pageSize:20">
    <thead>
    <tr>
        <th data-options="field:'id', width:100, align:'center'">订单编号</th>
        <th data-options="field:'product_name', width:200, align:'center'">商品名称</th>
        <th data-options="field:'type', width:150, align:'center'" formatter="formatType">类型</th>
        <th data-options="field:'nums', width:100, align:'center'">采购数量</th>
        <th data-options="field:'total', width:100, align:'center'">总金额</th>
        <th data-options="field:'order_status', width:100, align:'center'" formatter="formOrderStatus">状态</th>
        <th data-options="field:'status', width:100, align:'center'">进度</th>
        <th data-options="field:'last_update_time', width:200, align:'center'">最后更新时间</th>
    </tr>
    </thead>
</table>

<div id="tb-user" style="height:auto">
    <div>
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true" onclick="view()">详情</a>
    </div>
</div>

<div id="dlg-view" class="easyui-window" title="采购订单详情" style="width:630px;height:700px;padding:10px;overflow:hidden;" data-options="
            iconCls:'icon-save',
            closed:true,
            modal:true,
            onResize:function(){
                $(this).window('hcenter');
            }">
    <iframe width="100%" height="100%" frameborder="0" id="view_iframe">
    </iframe>
</div>
{% endblock %}

{% block js %}
<script>

    function view()
    {
        var selRow = $('#listdata').datagrid('getSelected');
        if (!selRow) {
            $.messager.alert('错误','请选择一行');
            return false;
        }
        $('#view_iframe').prop('src', "{{ url('/purchase/order-view') }}" + '?id=' + selRow.id);
        $('#dlg-view').window('open');
    }

    function formatType(val, row)
    {
        if(val == 1) return '实物';
        else if(val == 2) return '虚拟物品';
    }

    function formOrderStatus(val, row)
    {
        if(val == 0) return '未返回';
        else if(val == 1) return '成功';
    }
</script>
{% endblock %}