<link rel="stylesheet" type="text/css" href="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/themes/icon.css">

<script src="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/jquery.min.js" type="text/javascript"></script>
<script src="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/jquery.easyui.min.js" type="text/javascript"></script>
<script src="{{ app.params.skinUrl }}/js/jquery-easyui-1.4.4/locale/easyui-lang-zh_CN.js" type="text/javascript"></script>
<script src="{{ app.params.skinUrl }}/js/order-detail.js" type="text/javascript"></script>

<div title="Basic Window"  style="padding:5px;height:auto;width:100%" class="box">
    {% if(order.status == 3 or order.status==4 or order.status==8) %}
    {{ html.beginForm('', 'post', {'class':'am-form am-form-horizontal', 'id':'modify-form'}) | raw }}
    <table cellpadding="10">
        <tr>
            <td>发货方式</td>
            <td>
                <select name="ActDeliver[send]">
                    <option value="1">第三方平台</option>
                </select>
            </td>
            <td>发货平台</td>
            <td>
                <select data-am-selected name="ActDeliver[platform]" class="easyui-combobox" id="platform" data-options="panelHeight:'auto'">
                    <option value="京东">京东</option>
                    <option value="苏宁">苏宁</option>
                    <option value="天猫">天猫</option>
                    <option value="亚马逊">亚马逊</option>
                    <option value="国美">国美</option>
                    <option value="一号店">一号店</option>
                    <option value="其他">其他</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>第三方订单号</td>
            <td><input class="easyui-textbox" type="text" name="ActDeliver[third_order]" data-options="required:true" value="{{ deliver.third_order }}"></td>
            <td>成本</td>
            <td><input class="easyui-textbox" type="text" name="ActDeliver[price]" data-options="required:true" value="{{ deliver.price }}"></td>
        </tr>
        <tr>
            <td>规格</td>
            <td><input class="easyui-textbox" type="text" name="ActDeliver[standard]"  value="{{ deliver.standard }}"></td>
            <td>发票</td>
            <td><select name="ActDeliver[bill]" class="easyui-combobox" data-options="panelHeight:'auto'" id="bill">
                <option value="无">无</option>
                <option value="普通发票">普通发票</option>
                <option value="专业发票">专业发票</option>
            </select></td>
        </tr>
        <tr>
            <td>发票编号</td>
            <td><input class="easyui-textbox" type="text" name="ActDeliver[bill_num]" value="{{ deliver.bill_num }}"></td>
            <td>发票时间</td>
            <td><input class="easyui-datetimebox" type="text" name="ActDeliver[bill_time]" value="{{ deliver.bill_time }}"></td>
        </tr>
        {% if order.status > 3 %}
        <tr>
            <td>快递公司</td>
            <td><select name="ActDeliver[deliver_company]" class="easyui-combobox" id="company">
                {% for key,item in express %}
                <option value="{{ key }}">{{ key }}</option>
                {% endfor %}
            </select></td>
            <td>快递单号</td>
            <td>
                <input class="easyui-textbox" type="text" name="ActDeliver[deliver_order]" data-options="required:true" value="{{ deliver.deliver_order }}">
            </td>
        </tr>
        <tr>
            <td>快递费用</td>
            <td><input class="easyui-textbox" type="text" name="ActDeliver[deliver_cost]" value="{{ deliver.deliver_cost }}"></td>
            <td></td>
            <td>

            </td>
        </tr>
        {% endif %}
        <tr>
            <td></td>
            <td>
                <input type="submit" class="easyui-linkbutton" onclick="submitForm()">
            </td>
        </tr>
    </table>
    {{ html.endForm() | raw }}
    {% endif %}
</div>

<script>
    $(function(){
        var send = "{{ deliver.send }}";
        var platform  = "{{ deliver.platform }}";
        var bill = "{{ deliver.bill }}";
        var express = "{{ deliver.deliver_company }}"
        $('#send').combobox('setValue', send);
        $('#platform').combobox('setValue', platform);
        $('#bill').combobox('setValue', bill);
        $('#company').combobox('setValue', express);
    })

    function submitForm(){
        var form = 'modify-form';
        var url = '/act-order/edit?id='+"{{ order.id }}";
        $('#' + form).form({
            url: url,
            onSubmit:function(){
                return $(this).form('enableValidation').form('validate');
            },
            success: function (data) {
                var data = eval('('+data+')');
                if (data.error == 0) {
                    $.messager.alert('成功', data.message);
                    setTimeout(function(){
                        parent.closeWindow('orderInfo');
                        parent.parent.reloadgrid();
                    }, 2000);
                } else {
                    $.messager.alert('失败', data.message, 'error');
                }
            }
        });
        $('#' + form).submit();
    }
</script>
